:root {
    --primary: #1C3144;
    --primary-hover: #243f57;
    --primary-dark: #111f2b;

    --secondary: #A2AEBB;
    --secondary-hover: #b6c3d1;
    --secondary-dark: #8b95a0;

    --success: #95bc6c;
    --success-hover: #abd87c;
    --success-dark: #86a763;

    --info: #3F88C5;
    --info-hover: #4a9de2;
    --info-dark: #3677ac;

    --warning: #FFBA08;
    --warning-hover: #fcbc1a;
    --warning-dark: #e6a80b;

    --danger: #ff6a6a;
    --danger-hover: #ff7d7d;
    --danger-dark: #eb5f5f;

    --light: #f8f9fa;
    --light-hover: #e2e6ea;
    --light-dark: #dae0e5;

    --dark: #343a40;
    --dark-hover: #23272b;
    --dark-dark: #1d2124;

    --white: #fff;
    --white-hover: #eeeded;
    --white-dark: #e7e7e7;

    --black: #000;
    --black-hover: #141414;
    --black-dark: #1a1a1a;

    --transparent-hover: rgba(0, 0, 0, 0.05);
    --transparent-dark: rgba(0, 0, 0, 0.1);

    --shadow: rgba(0, 0, 0, 0.05);
    --shadow-dark: rgba(0, 0, 0, 0.1);
}